@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --CURSOR-green: #10743c;
  --CURSOR-black: #161616;
  --CURSOR-white: #f4f4f4;

  --callout-success: #e8f2f0;
  --callout-info: #fff8de;
  --callout-warn: #f7e1d3;
  --callout-alert: #f5d2d3;
  --callout-idk: #e8dbf5;

  --font-xs: 9px;
  --font-s: 12px;
  --font-m: 16px;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;

  --width-xs: 256px;
  --width-s: 512px;
  --width-m: 1024px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.main-container {
  width: 100vw;
  min-height: 100vh;

  background-color: var(--CURSOR-white);
}

h1,
h2,
h3 {
  font-family: "Aleo";
}

input,
label,
p,
span,
textarea {
  font-family: "IBM Plex Sans";
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
